  
<div class="container">
            <h1>EAT THE BURGER!</h1>
        </div>

        <div>
                {{#each burger_data}}
                {{#unless this.devoured}}
                    <pre>{{this.id}}. {{this.burger_name}}</pre>
                </div>
                    <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                        <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                        <br>
                        <button type="submit" >DEVOUR IT!</button>
                    </form>
            {{/unless}}
            {{/each}}
        </div>
    </div>


        {{#each burger_data}}
            {{#if this.devoured}}
                <input class="form-control" placeholder=
                "{{this.id}}.  {{this.burger_name}}" readonly>
            {{/if}}
        {{/each}}
    </div>


<div class="container">
            <form action="/burgers/create" method="POST">
            <input type="text" name="burger_name" class="form-control">
            <button type="submit">SUBMIT</button>
            </form>
            <p>Enter in a burger you would like to eat!</p>
</div>